body {
  font-family: Georgia, serif;
  font-size: 40px;
}


/* Style navbar */
#navbar a {
  position: absolute;
  transition: 0.8s; /* Add transition on hover */
  padding-left: : 80px;
  padding-right: 30px;
  padding-top: 15px;
  padding-bottom:15px;
  text-decoration: none;
  width: auto;
  text-shadow: 2px 2px 4px #111;
  color: #EEEEEE;
  border-radius: 0 20px 20px 0;
  margin: auto;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.4);

}

#navbar a:hover {
  left: -1%;
  transition: 0.8s;
  transition-delay: .0s;
  background-color: rgba(88, 88, 88, 0.5);
}

#intro {
  left: -195px;/* Start out of frame */
  top: 20px;
  color: white;
}

#bio {
  left: -317px;/* Start out of frame */
  top: 140px;
}

#projects {
  left: -324px;/* Start out of frame */
  top: 260px;
}

#resume {
  left: -415px;/* Start out of frame */
  top: 380px;
}

#conclusion {
  left: -228px;/* Start out of frame */
  top: 500px;
}




/* Main content */
.main {
  margin-top: 30px; /* Add a top margin to avoid content overlay */
  margin-left: 0;
  padding-left: 0;
}


/*-X-X-X-X-X-X-X-X-X-X-X-X-X-X-X-X-X-X-X-X-X-X-X-X-X-X-X-X-X-X-X-X-X-X-X-X-X-X-X-X-X-X-X-X-X-X-X-X-X-X-X-X*/
/* code below sourced and modified from Mike Byrne at https://codepen.io/13twelve/pen/wvarPPN?editors=1100*/
/*-X-X-X-X-X-X-X-X-X-X-X-X-X-X-X-X-X-X-X-X-X-X-X-X-X-X-X-X-X-X-X-X-X-X-X-X-X-X-X-X-X-X-X-X-X-X-X-X-X-X-X-X*/
:root {
  --grad-1: rgb(128,179,171);
  --grad-2: rgb(30,41,58);
}
#gradient {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background: rgb(128,179,171);
  background: linear-gradient(45deg, var(--grad-1) 0%, var(--grad-2) 100%);
}
